body {
  background-color: #32373a;
  color: bisque;
}

.delete-button {
  margin-left: 6px;
  border-radius: 6px;
  padding: 12px 11px 10px 12px;
}

.edit-button {
  margin-left: 8px;
  border-radius: 6px;
  padding-top: 6px;
  padding: 12px 11px 10px 12px;
}

li {
  font-size: 25px;
}

button {
  margin-left: 5px;
}

.add-button {
  background-color: #0d7eff;
}

.addEdit-button {
  background-color: #289648;
}
